In [ ]:
def my_experience():
  return None

In [ ]:
skill_list = ['python', 'sql', 'excel']

len(skill_list)

3

In [ ]:
count = 0
for skill in skill_list:
  count += 1

count

3

# Built-In Functions

In [ ]:
print(skill_list)

['python', 'sql', 'excel']

In [ ]:
type(skill_list)

list

In [ ]:
len(skill_list)

3

In [ ]:
range(0,5)

range(0, 5)

In [ ]:
help()

Welcome to Python 3.11's help utility! If this is your first time using
Python, you should definitely check out the tutorial at
https://docs.python.org/3.11/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To get a list of available
modules, keywords, symbols, or topics, enter "modules", "keywords",
"symbols", or "topics".

Each module also comes with a one-line summary of what it does; to list
the modules whose name or summary contain a given string such as "spam",
enter "modules spam".

To quit this help utility and return to the interpreter,
enter "q" or "quit".

help> q

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [ ]:
import types

# list of the built-i functions
print([func for func in dir(__builtins__) if isinstance(getattr(__builtins__, func), types.BuiltinFunctionType)])

['__build_class__', '__import__', 'abs', 'aiter', 'all', 'anext', 'any', 'ascii', 'bin', 'breakpoint', 'callable', 'chr', 'compile', 'delattr', 'dir', 'divmod', 'eval', 'exec', 'format', 'getattr', 'globals', 'hasattr', 'hash', 'hex', 'id', 'isinstance', 'issubclass', 'iter', 'len', 'locals', 'max', 'min', 'next', 'oct', 'open', 'ord', 'pow', 'print', 'repr', 'round', 'setattr', 'sorted', 'sum', 'vars']

In [ ]:
data_salaries = [95, 100, 85, 97, 140]

In [ ]:
min(data_salaries)

85

In [ ]:
max(data_salaries)

140

In [ ]:
sum(data_salaries)

517

In [ ]:
sorted(data_salaries)

[85, 95, 97, 100, 140]

In [ ]:
base_salary = 100
bonus_rate = 0.1

total_salary = base_salary * (1 + bonus_rate)

total_salary

110.00000000000001

In [ ]:
base_salary = 100
bonus_rate = 0.1

def calculate_salary():
  base_salary = 100
  bonus_rate = 0.1

  total_salary = base_salary * (1 + bonus_rate)

  return total_salary
  # pass

In [ ]:
calculate_salary()

110.00000000000001

In [ ]:
# calculate total_salary of base_salary * (1 + bonus_rate)

def calculate_salary(base_salary, bonus_rate=.1):

  total_salary = base_salary * (1 + bonus_rate)

  return total_salary

In [ ]:
salary_1 = 100
rate_1 = 0.5

calculate_salary(salary_1, rate_1)

calculate_salary()

TypeError: calculate_salary() missing 1 required positional argument: 'base_salary'

In [ ]:
mul_two = lambda x: x*2

In [ ]:
mul_two(3)

6

In [ ]:
(lambda x: x*2)(3)

6

In [ ]:
(lambda x, y: x*2 + y)(3, 4)

10

In [ ]:
jobs_data = [
    {'job_title': 'Data Scientist',  'job_skills': ['Python', 'Machine Learning'], 'remote': True},
    {'job_title': 'Data Analyst',  'job_skills': ['Excel', 'SQL'], 'remote': False},
    {'job_title': 'Machine Learning Engineer', 'job_skills': ['Python', 'TensorFlow', 'Keras'], 'remote': True},
    {'job_title': 'Software Developer', 'job_skills': ['Java', 'C++'], 'remote': True},
    {'job_title': 'Data Scientist', 'job_skills': ['R', 'Statistics'], 'remote': False}
]

In [ ]:
list(filter(lambda job: job['remote'], jobs_data))

[{'job_title': 'Data Scientist',
  'job_skills': ['Python', 'Machine Learning'],
  'remote': True},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': ['Python', 'TensorFlow', 'Keras'],
  'remote': True},
 {'job_title': 'Software Developer',
  'job_skills': ['Java', 'C++'],
  'remote': True}]

In [ ]:
list(filter(lambda job: job['remote'] and 'Python' in job['job_skills'], jobs_data))

[{'job_title': 'Data Scientist',
  'job_skills': ['Python', 'Machine Learning'],
  'remote': True},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': ['Python', 'TensorFlow', 'Keras'],
  'remote': True}]

In [ ]:
import my_module

my_module.skill_list

ModuleNotFoundError: No module named 'my_module'

In [ ]:
my_module.skill('Python')

In [ ]:
import job_analyzer

job_analyzer.calculate_salary(100)

110.00000000000001

or

In [ ]:
from job_analyzer import calculate_salary, calculate_bonus

calculate_salary(100)

calculate_bonus(110, 100)

0.1

In [ ]:
!ls /content

drive  job_analyzer.py	__pycache__  sample_data

In [ ]:
''' from google.colab import drive
drive.mount('/content/drive')
!cp job_analyzer.py /content/drive/MyDrive/ '''

In [ ]:
help(calculate_salary)

Help on function calculate_salary in module job_analyzer:

calculate_salary(base_salary, bonus_rate=0.1)
    Caluclate the total salary based on the salary and bonus

    Args:
      base_salary (float): The base salary.
      bonus_rate (float): The bonus rate, Default is .1.

    Returns:
      float: Tht total salary.

In [ ]:
help(calculate_bonus)

Help on function calculate_bonus in module job_analyzer:

calculate_bonus(total_salary, base_salary)
     Caluclate the total salary based on the salary and bonus

    Args:
      base_salary (float): The base salary.
      bonus_rate (float): The bonus rate, Default is .1.

    Returns:
      float: Tht total salary.

In [ ]:
salary_list = [98, 101, 102, 99, 97]

In [ ]:
from statistics import mean, mode, median

statistics.mean(salary_list)

99.4