In [ ]:
!pip install datasets

Collecting datasets
  Downloading datasets-3.2.0-py3-none-any.whl.metadata (20 kB)
Requirement already satisfied: filelock in /usr/local/lib/python3.11/dist-packages (from datasets) (3.17.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.11/dist-packages (from datasets) (1.26.4)
Requirement already satisfied: pyarrow>=15.0.0 in /usr/local/lib/python3.11/dist-packages (from datasets) (17.0.0)
Collecting dill<0.3.9,>=0.3.0 (from datasets)
  Downloading dill-0.3.8-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (from datasets) (2.2.2)
Requirement already satisfied: requests>=2.32.2 in /usr/local/lib/python3.11/dist-packages (from datasets) (2.32.3)
Requirement already satisfied: tqdm>=4.66.3 in /usr/local/lib/python3.11/dist-packages (from datasets) (4.67.1)
Collecting xxhash (from datasets)
  Downloading xxhash-3.5.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (12 kB)
Collecting multiprocess<0.70.17 (from datasets)
  Downloading multiprocess-0.70.16-py311-none-any.whl.metadata (7.2 kB)
Collecting fsspec<=2024.9.0,>=2023.1.0 (from fsspec[http]<=2024.9.0,>=2023.1.0->datasets)
  Downloading fsspec-2024.9.0-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.11/dist-packages (from datasets) (3.11.11)
Requirement already satisfied: huggingface-hub>=0.23.0 in /usr/local/lib/python3.11/dist-packages (from datasets) (0.27.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from datasets) (24.2)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.11/dist-packages (from datasets) (6.0.2)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp->datasets) (2.4.4)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.11/dist-packages (from aiohttp->datasets) (1.3.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp->datasets) (25.1.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.11/dist-packages (from aiohttp->datasets) (1.5.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.11/dist-packages (from aiohttp->datasets) (6.1.0)
Requirement already satisfied: propcache>=0.2.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp->datasets) (0.2.1)
Requirement already satisfied: yarl<2.0,>=1.17.0 in /usr/local/lib/python3.11/dist-packages (from aiohttp->datasets) (1.18.3)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.11/dist-packages (from huggingface-hub>=0.23.0->datasets) (4.12.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests>=2.32.2->datasets) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests>=2.32.2->datasets) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests>=2.32.2->datasets) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests>=2.32.2->datasets) (2024.12.14)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas->datasets) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas->datasets) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas->datasets) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas->datasets) (1.17.0)
Downloading datasets-3.2.0-py3-none-any.whl (480 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 480.6/480.6 kB 7.2 MB/s eta 0:00:00
Downloading dill-0.3.8-py3-none-any.whl (116 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 116.3/116.3 kB 7.9 MB/s eta 0:00:00
Downloading fsspec-2024.9.0-py3-none-any.whl (179 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 179.3/179.3 kB 11.4 MB/s eta 0:00:00
Downloading multiprocess-0.70.16-py311-none-any.whl (143 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 143.5/143.5 kB 6.9 MB/s eta 0:00:00
Downloading xxhash-3.5.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (194 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 194.8/194.8 kB 7.0 MB/s eta 0:00:00
Installing collected packages: xxhash, fsspec, dill, multiprocess, datasets
  Attempting uninstall: fsspec
    Found existing installation: fsspec 2024.10.0
    Uninstalling fsspec-2024.10.0:
      Successfully uninstalled fsspec-2024.10.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
gcsfs 2024.10.0 requires fsspec==2024.10.0, but you have fsspec 2024.9.0 which is incompatible.
torch 2.5.1+cu124 requires nvidia-cublas-cu12==12.4.5.8; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-cublas-cu12 12.5.3.2 which is incompatible.
torch 2.5.1+cu124 requires nvidia-cuda-cupti-cu12==12.4.127; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-cuda-cupti-cu12 12.5.82 which is incompatible.
torch 2.5.1+cu124 requires nvidia-cuda-nvrtc-cu12==12.4.127; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-cuda-nvrtc-cu12 12.5.82 which is incompatible.
torch 2.5.1+cu124 requires nvidia-cuda-runtime-cu12==12.4.127; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-cuda-runtime-cu12 12.5.82 which is incompatible.
torch 2.5.1+cu124 requires nvidia-cudnn-cu12==9.1.0.70; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-cudnn-cu12 9.3.0.75 which is incompatible.
torch 2.5.1+cu124 requires nvidia-cufft-cu12==11.2.1.3; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-cufft-cu12 11.2.3.61 which is incompatible.
torch 2.5.1+cu124 requires nvidia-curand-cu12==10.3.5.147; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-curand-cu12 10.3.6.82 which is incompatible.
torch 2.5.1+cu124 requires nvidia-cusolver-cu12==11.6.1.9; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-cusolver-cu12 11.6.3.83 which is incompatible.
torch 2.5.1+cu124 requires nvidia-cusparse-cu12==12.3.1.170; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-cusparse-cu12 12.5.1.3 which is incompatible.
torch 2.5.1+cu124 requires nvidia-nvjitlink-cu12==12.4.127; platform_system == "Linux" and platform_machine == "x86_64", but you have nvidia-nvjitlink-cu12 12.5.82 which is incompatible.
Successfully installed datasets-3.2.0 dill-0.3.8 fsspec-2024.9.0 multiprocess-0.70.16 xxhash-3.5.0

In [ ]:
import pandas as pd
from datasets import load_dataset

# loading data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# cleanng data
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

/usr/local/lib/python3.11/dist-packages/huggingface_hub/utils/_auth.py:94: UserWarning:
The secret `HF_TOKEN` does not exist in your Colab secrets.
To authenticate with the Hugging Face Hub, create a token in your settings tab (https://huggingface.co/settings/tokens), set it as secret in your Google Colab and restart your session.
You will be able to reuse this secret in all of your notebooks.
Please note that authentication is recommended but still optional to access public models or datasets.
  warnings.warn(

README.md:   0%|          | 0.00/28.0 [00:00<?, ?B/s]

data_jobs.csv:   0%|          | 0.00/231M [00:00<?, ?B/s]

Generating train split:   0%|          | 0/785741 [00:00<?, ? examples/s]

In [ ]:
df.describe()

                     job_posted_date  salary_year_avg  salary_hour_avg
count                         785741     22003.000000     10662.000000
mean   2023-06-25 16:02:11.860248576    123286.274072        47.016598
min              2023-01-01 00:00:04     15000.000000         8.000000
25%              2023-03-20 10:05:48     90000.000000        27.500000
50%              2023-06-29 06:11:38    115000.000000        45.980000
75%              2023-09-27 01:01:16    150000.000000        61.159996
max              2023-12-31 23:59:58    960000.000000       391.000000
std                              NaN     48312.449482        21.890738

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785741 entries, 0 to 785740
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785741 non-null  object
 1   job_title              785740 non-null  object
 2   job_location           784696 non-null  object
 3   job_via                785733 non-null  object
 4   job_schedule_type      773074 non-null  object
 5   job_work_from_home     785741 non-null  bool
 6   search_location        785741 non-null  object
 7   job_posted_date        785741 non-null  datetime64[ns]
 8   job_no_degree_mention  785741 non-null  bool
 9   job_health_insurance   785741 non-null  bool
 10  job_country            785692 non-null  object
 11  salary_rate            33067 non-null   object
 12  salary_year_avg        22003 non-null   float64
 13  salary_hour_avg        10662 non-null   float64
 14  company_name           785723 non-null  object
 15  job_skills             668704 non-null  object
 16  job_type_skills        668704 non-null  object
dtypes: bool(3), datetime64[ns](1), float64(2), object(11)
memory usage: 86.2+ MB

In [ ]:
df.count()

job_title_short          785741
job_title                785740
job_location             784696
job_via                  785733
job_schedule_type        773074
job_work_from_home       785741
search_location          785741
job_posted_date          785741
job_no_degree_mention    785741
job_health_insurance     785741
job_country              785692
salary_rate               33067
salary_year_avg           22003
salary_hour_avg           10662
company_name             785723
job_skills               668704
job_type_skills          668704
dtype: int64

In [ ]:
df.median()

TypeError: Cannot convert [['Senior Data Engineer' 'Data Analyst' 'Data Engineer' ...
  'Business Analyst' 'Data Engineer' 'Software Engineer']
 ['Senior Clinical Data Engineer / Principal Clinical Data Engineer ...'
  'Data Analyst' 'Data Engineer/Scientist/Analyst, Mid or Senior (m/f/x)'
  ... 'Commercial Analyst - Start Now'
  'Principal Associate, Data Engineer (Remote-Eligible)'
  'AWS System Analyst']
 ['Watertown, CT' 'Guadalajara, Jalisco, Mexico' 'Berlin, Germany' ...
  'Malaysia' 'Newark, New Jersey, Amerika Serikat' 'India']
 ['via Work Nearby' 'via BeBee México' 'via LinkedIn' ...
  'melalui Ricebowl' 'melalui Recruit.net' 'melalui Trigyn']
 ['Full-time' 'Full-time' 'Full-time' ... 'Pekerjaan tetap'
  'Pekerjaan tetap' 'Pekerjaan tetap']
 ['Texas, United States' 'Mexico' 'Germany' ... 'Malaysia' 'Sudan'
  'India']] to numeric

In [ ]:
df['salary_year_avg'].median()

115000.0

In [ ]:
df['salary_year_avg'].min()

15000.0

In [ ]:
min_salary = df['salary_year_avg'].idxmin()

In [ ]:
df.iloc[min_salary]

job_title_short                                              Data Engineer
job_title                                           Data Engineer - Hadoop
job_location                                                        Brazil
job_via                                                       via LinkedIn
job_schedule_type                                                Full-time
job_work_from_home                                                   False
search_location                                                     Brazil
job_posted_date                                        2023-12-09 10:05:30
job_no_degree_mention                                                 True
job_health_insurance                                                 False
job_country                                                         Brazil
salary_rate                                                           year
salary_year_avg                                                    15000.0
salary_hour_avg                                                        NaN
company_name                                               Net2Source Inc.
job_skills               ['java', 'python', 'oracle', 'aws', 'hadoop', ...
job_type_skills          {'cloud': ['oracle', 'aws'], 'libraries': ['ha...
Name: 665729, dtype: object

In [ ]:
df['job_title_short'].unique()

array(['Senior Data Engineer', 'Data Analyst', 'Data Engineer',
       'Business Analyst', 'Data Scientist', 'Machine Learning Engineer',
       'Senior Data Analyst', 'Cloud Engineer', 'Senior Data Scientist',
       'Software Engineer'], dtype=object)

In [ ]:
df['job_title_short'].value_counts()

job_title_short
Data Analyst                 196075
Data Engineer                186241
Data Scientist               172286
Business Analyst              49063
Software Engineer             44929
Senior Data Engineer          44563
Senior Data Scientist         36957
Senior Data Analyst           29216
Machine Learning Engineer     14080
Cloud Engineer                12331
Name: count, dtype: int64

In [ ]:
df.groupby('job_title_short')['salary_year_avg'].median()

job_title_short
Business Analyst              85000.0
Cloud Engineer                90000.0
Data Analyst                  90000.0
Data Engineer                125000.0
Data Scientist               127500.0
Machine Learning Engineer    106415.0
Senior Data Analyst          111175.0
Senior Data Engineer         147500.0
Senior Data Scientist        155500.0
Software Engineer             99150.0
Name: salary_year_avg, dtype: float64

In [ ]:
df.groupby(['job_title_short', 'job_country'])['salary_year_avg'].median()

job_title_short    job_country
Business Analyst   Afghanistan        NaN
                   Albania            NaN
                   Algeria            NaN
                   Angola             NaN
                   Argentina      71100.0
                                   ...
Software Engineer  Venezuela          NaN
                   Vietnam        53600.0
                   Yemen              NaN
                   Zambia             NaN
                   Zimbabwe           NaN
Name: salary_year_avg, Length: 1387, dtype: float64

In [ ]:
df.groupby('job_title_short')[['salary_year_avg', 'salary_hour_avg']].median()

                           salary_year_avg  salary_hour_avg
job_title_short
Business Analyst                   85000.0        40.362499
Cloud Engineer                     90000.0        40.000000
Data Analyst                       90000.0        32.615002
Data Engineer                     125000.0        58.500000
Data Scientist                    127500.0        47.500000
Machine Learning Engineer         106415.0        47.535000
Senior Data Analyst               111175.0        47.500000
Senior Data Engineer              147500.0        61.500000
Senior Data Scientist             155500.0        47.620003
Software Engineer                  99150.0        47.560001

In [ ]:
df.groupby('job_title_short')['salary_year_avg'].agg(['min', 'max', 'median'])

                               min       max    median
job_title_short
Business Analyst           16500.0  387460.0   85000.0
Cloud Engineer             42000.0  280000.0   90000.0
Data Analyst               25000.0  650000.0   90000.0
Data Engineer              15000.0  525000.0  125000.0
Data Scientist             27000.0  960000.0  127500.0
Machine Learning Engineer  30000.0  325000.0  106415.0
Senior Data Analyst        30000.0  425000.0  111175.0
Senior Data Engineer       35000.0  425000.0  147500.0
Senior Data Scientist      45000.0  890000.0  155500.0
Software Engineer          28000.0  375000.0   99150.0

# Example: Analyze Salaries

In [ ]:
df['job_country']

0         United States
1                Mexico
2               Germany
3         United States
4                 Sudan
              ...
785736        Singapore
785737          Germany
785738         Malaysia
785739            Sudan
785740            India
Name: job_country, Length: 785741, dtype: object

In [ ]:
df['job_country'].value_counts().head(20)

job_country
United States     206292
India              51088
United Kingdom     40375
France             39922
Germany            27694
Spain              25100
Singapore          23696
Sudan              21781
Netherlands        20631
Italy              17013
Canada             16029
Mexico             15139
Poland             14793
Portugal           14508
Australia          12955
South Africa       12414
Belgium            12078
Philippines        11786
Ireland            11162
Switzerland         9924
Name: count, dtype: int64

In [ ]:
df['job_country'].isin(['Brazil']).any()

True

In [ ]:
df['job_country'].isin(['Argentina']).any()

True

In [ ]:
arg_jobs = df[df['job_country'] == 'Argentina']

In [ ]:
arg_jobs

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
236,Data Scientist,Científico de Datos LLM,Anywhere,via LinkedIn,Full-time,True,Argentina,2023-10-08 13:46:02,False,False,Argentina,None,NaN,NaN,Turing,None,None
417,Senior Data Scientist,Data Science SR Puerto Madero,"Buenos Aires, Argentina","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-07-03 13:17:35,False,False,Argentina,None,NaN,NaN,Werben Capital Human,"['java', 'scala']","{'programming': ['java', 'scala']}"
863,Data Engineer,Data Engineer Jr,Argentina,via LinkedIn,Full-time,False,Argentina,2023-05-31 14:00:43,True,False,Argentina,None,NaN,NaN,Randstad Argentina,"['python', 'azure']","{'cloud': ['azure'], 'programming': ['python']}"
1131,Data Scientist,Data & Applied Intelligence #hub,"Buenos Aires, Argentina","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-09-03 13:43:27,False,False,Argentina,None,NaN,NaN,Accenture,"['sql', 'python', 'sql server', 'postgresql', ...","{'cloud': ['azure', 'aws', 'gcp'], 'databases'..."
1140,Software Engineer,Visual Basic Developer (with Data experience) ...,Anywhere,via LinkedIn,Full-time,True,Argentina,2023-03-19 13:45:03,True,False,Argentina,None,NaN,NaN,Listopro,"['excel', 'confluence']","{'analyst_tools': ['excel'], 'async': ['conflu..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785605,Senior Data Engineer,"Sr. Data Architect, Professional Services","Buenos Aires, Argentina","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-08-01 06:34:24,False,False,Argentina,None,NaN,NaN,Emprego,"['sql', 'java', 'javascript', 'python', 'nosql...","{'cloud': ['aws', 'redshift'], 'databases': ['..."
785608,Software Engineer,Senior Software Engineer,"Buenos Aires, Argentina","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-09-28 06:29:25,True,False,Argentina,None,NaN,NaN,Emprego,"['php', 'javascript', 'css', 'sass', 'sql', 'n...","{'libraries': ['react', 'graphql', 'kafka'], '..."
785638,Data Analyst,Data Analyst,"Buenos Aires, Argentina","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-10-27 06:47:13,False,False,Argentina,None,NaN,NaN,Emprego,"['python', 'r', 'sql', 'looker', 'tableau']","{'analyst_tools': ['looker', 'tableau'], 'prog..."
785668,Data Analyst,Jr Data Analyst,Argentina,"via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-08-29 06:47:14,True,False,Argentina,None,NaN,NaN,Emprego,"['python', 'excel', 'tableau', 'power bi', 'sp...","{'analyst_tools': ['excel', 'tableau', 'power ..."
785672,Cloud Engineer,"Customer Engineer, Apigee, Google Cloud","Buenos Aires, Argentina","via Trabajo.org - Vacantes De Empleo, Trabajo",Full-time,False,Argentina,2023-08-29 06:47:39,False,False,Argentina,None,NaN,NaN,Emprego,None,None

In [ ]:
arg_jobs = arg_jobs[arg_jobs['salary_year_avg'].notna()]

In [ ]:
arg_jobs

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
22620,Data Engineer,Digital Data Engineer,Argentina,via Ai-Jobs.net,Full-time,False,Argentina,2023-12-10 13:11:54,False,False,Argentina,year,120000.0,NaN,Nestlé,"['sql', 'python', 'r', 'shell', 'java', 'azure...","{'analyst_tools': ['excel', 'word', 'powerpoin..."
64412,Data Engineer,Azure Data Engineer,"Rosario, Santa Fe Province, Argentina",via Ai-Jobs.net,Full-time,False,Argentina,2023-05-18 06:11:15,False,False,Argentina,year,64800.0,NaN,OZ,"['sql', 'python', 'powershell', 'azure', 'data...","{'cloud': ['azure', 'databricks'], 'libraries'..."
78382,Data Engineer,Associate Data Engineer,"Buenos Aires, Argentina",via Ai-Jobs.net,Full-time,False,Argentina,2023-03-11 00:51:48,True,False,Argentina,year,98283.0,NaN,Publicis Groupe,"['python', 'sql', 'nosql', 'firestore', 'fireb...","{'cloud': ['firebase', 'gcp', 'bigquery'], 'da..."
93501,Data Analyst,"Data Analyst, Sales",Argentina,via Ai-Jobs.net,Full-time,False,Argentina,2023-01-04 09:57:50,True,False,Argentina,year,111202.0,NaN,Dialpad,"['sql', 'python', 'flow']","{'other': ['flow'], 'programming': ['sql', 'py..."
104117,Data Engineer,Data Engineer,Argentina,via Ai-Jobs.net,Full-time,False,Argentina,2023-06-17 01:06:55,False,False,Argentina,year,96773.0,NaN,Mutt Data,"['nosql', 'python', 'postgresql', 'databricks'...","{'cloud': ['databricks', 'aws', 'bigquery', 'r..."
107338,Data Scientist,Staff Data Scientist,Anywhere,via Levels.fyi,Full-time,True,Argentina,2023-12-12 00:46:50,False,True,Argentina,year,207500.0,NaN,MongoDB,"['mongodb', 'mongodb', 'sql', 'python']","{'databases': ['mongodb'], 'programming': ['mo..."
119738,Senior Data Engineer,Senior Data Engineer,Argentina,via Ai-Jobs.net,Contractor,False,Argentina,2023-03-23 08:40:50,True,False,Argentina,year,147500.0,NaN,MediaLab,"['scala', 'java', 'golang', 'aws', 'gcp', 'had...","{'cloud': ['aws', 'gcp'], 'libraries': ['hadoo..."
135531,Machine Learning Engineer,Machine Learning Engineer,Argentina,via Ai-Jobs.net,Full-time,False,Argentina,2023-06-16 09:06:55,False,False,Argentina,year,101029.0,NaN,Mutt Data,"['python', 'postgresql', 'databricks', 'aws', ...","{'cloud': ['databricks', 'aws', 'gcp'], 'datab..."
152274,Data Scientist,Tutor/a Data Science,"Buenos Aires, Argentina",via Ai-Jobs.net,Part-time,False,Argentina,2023-07-06 08:19:54,False,False,Argentina,year,72000.0,NaN,Coderhouse,['python'],{'programming': ['python']}
171432,Data Engineer,[VSN] Mid Level Data Engineer,"Buenos Aires, Argentina",via Ai-Jobs.net,Full-time,False,Argentina,2023-01-17 15:30:18,False,False,Argentina,year,96773.0,NaN,Software Mind,"['python', 'c#', 'nosql', 'mongodb', 'mongodb'...","{'cloud': ['snowflake', 'redshift'], 'database..."
187628,Cloud Engineer,"Staff Engineer, Service Architecture",Anywhere,via Levels.fyi,Full-time,True,Argentina,2023-11-29 15:13:19,False,False,Argentina,year,197500.0,NaN,MongoDB,"['mongodb', 'mongodb', 'c++']","{'databases': ['mongodb'], 'programming': ['mo..."
204569,Software Engineer,"Senior Software Engineer, Query",Anywhere,via Levels.fyi,Full-time,True,Argentina,2023-12-18 22:11:38,True,True,Argentina,year,174500.0,NaN,MongoDB,"['mongodb', 'mongodb', 'c++', 'c', 'rust']","{'databases': ['mongodb'], 'programming': ['mo..."
213345,Machine Learning Engineer,Front-End Engineer (Generative AI),Anywhere,via Wellfound,Full-time,True,Argentina,2023-11-04 23:03:10,False,False,Argentina,year,70000.0,NaN,Altimate AI,"['typescript', 'sql', 'react', 'vue']","{'libraries': ['react'], 'programming': ['type..."
311143,Data Engineer,Data Engineer - Ops Support,"Rosario, Santa Fe Province, Argentina",via Ai-Jobs.net,Full-time,False,Argentina,2023-03-21 17:48:35,False,False,Argentina,year,96773.0,NaN,OZ,"['sql', 'sql server', 'db2', 'aws', 'azure', '...","{'analyst_tools': ['ssis'], 'cloud': ['aws', '..."
334082,Data Engineer,Data Engineer,Argentina,via EchoJobs,Full-time,False,Argentina,2023-01-01 00:06:13,True,False,Argentina,year,65000.0,NaN,Spiff,"['python', 'mysql', 'aws', 'azure']","{'cloud': ['aws', 'azure'], 'databases': ['mys..."
345103,Data Analyst,Pasantia - Data Analyst BI,Argentina,via Ai-Jobs.net,Part-time,False,Argentina,2023-01-10 23:44:52,False,False,Argentina,year,45000.0,NaN,Publicis Groupe,"['sql', 'python', 'javascript', 'sql server', ...","{'analyst_tools': ['excel', 'power bi', 'table..."
361865,Data Engineer,"Technical Solutions Engineer, Data","Buenos Aires, Argentina",via Ai-Jobs.net,Full-time,False,Argentina,2023-01-05 23:46:52,False,False,Argentina,year,50400.0,NaN,Media.Monks,"['javascript', 'python', 'java', 'sql', 'azure...","{'cloud': ['azure'], 'programming': ['javascri..."
389926,Data Scientist,Data Scientist Manager,"Buenos Aires, Argentina",via Ai-Jobs.net,Full-time,False,Argentina,2023-02-03 18:50:18,False,False,Argentina,year,132500.0,NaN,Visa,"['python', 'r', 'spark', 'scikit-learn', 'hado...","{'analyst_tools': ['tableau'], 'libraries': ['..."
401552,Data Engineer,LAS Seeds Data Engineer,"Vicente López, Buenos Aires Province, Argentina",via Ai-Jobs.net,Full-time,False,Argentina,2023-08-11 18:14:03,False,False,Argentina,year,134241.0,NaN,Syngenta Group,"['python', 'java', 'scala', 'aws', 'gcp', 'red...","{'analyst_tools': ['alteryx'], 'cloud': ['aws'..."
451216,Data Scientist,Data Strategist Trainee,"Buenos Aires, Argentina",via Ai-Jobs.net,Part-time,False,Argentina,2023-03-16 14:50:20,False,False,Argentina,year,50400.0,NaN,Publicis Groupe,"['excel', 'powerpoint', 'tableau']","{'analyst_tools': ['excel', 'powerpoint', 'tab..."
482340,Data Engineer,Fullstack Data Engineer,Anywhere,via Wellfound,Full-time,True,Argentina,2023-03-21 14:48:24,True,False,Argentina,year,60000.0,NaN,Pocket Network,"['sql', 'golang', 'typescript', 'python', 'gcp...","{'cloud': ['gcp'], 'libraries': ['react', 'air..."
504816,Senior Data Engineer,[VMB] Senior Data Engineer,"Buenos Aires, Argentina",via Ai-Jobs.net,Full-time,False,Argentina,2023-08-18 11:12:32,True,False,Argentina,year,147500.0,NaN,Software Mind,"['python', 'sql', 'postgresql', 'spark', 'airf...","{'databases': ['postgresql'], 'libraries': ['s..."
548036,Data Analyst,Data Analyst,"Veinticinco de Mayo, Buenos Aires Province, Ar...",via Ai-Jobs.net,Full-time,False,Argentina,2023-12-30 19:08:55,False,False,Argentina,year,74368.5,NaN,Cargill,None,None
559523,Data Analyst,Data Analyst,"Buenos Aires, Argentina",via Ai-Jobs.net,Full-time,False,Argentina,2023-05-06 04:45:18,True,False,Argentina,year,111175.0,NaN,Publicis Groupe,"['sql', 'python']","{'programming': ['sql', 'python']}"
560869,Business Analyst,Business Intelligence | Experts/ Managers,Argentina,via Ai-Jobs.net,Full-time,False,Argentina,2023-11-03 04:33:47,True,False,Argentina,year,79200.0,NaN,Accenture,"['python', 'power bi', 'tableau', 'qlik', 'dax']","{'analyst_tools': ['power bi', 'tableau', 'qli..."
564923,Business Analyst,BI Analyst,"Buenos Aires, Argentina",via Ai-Jobs.net,Full-time,False,Argentina,2023-01-24 04:46:05,True,False,Argentina,year,63000.0,NaN,Media.Monks,"['sql', 'javascript', 'python', 'gcp', 'expres...","{'analyst_tools': ['tableau', 'power bi'], 'cl..."
616774,Data Scientist,Junior Data Scientist,"Buenos Aires, Argentina",via Ai-Jobs.net,Full-time,False,Argentina,2023-01-16 13:06:41,False,False,Argentina,year,64821.5,NaN,Media.Monks,"['r', 'python', 'css', 'javascript', 'sql', 'a...","{'analyst_tools': ['tableau', 'looker'], 'clou..."
628288,Data Scientist,Data Scientist,"Venado Tuerto, Santa Fe Province, Argentina",via Ai-Jobs.net,Full-time,False,Argentina,2023-07-21 12:42:27,False,False,Argentina,year,70000.0,NaN,Syngenta Group,"['r', 'sql', 'power bi', 'excel']","{'analyst_tools': ['power bi', 'excel'], 'prog..."
650403,Data Engineer,Sr Data Engineer - Development,"Rosario, Santa Fe Province, Argentina",via Ai-Jobs.net,Full-time,False,Argentina,2023-09-01 10:56:31,False,False,Argentina,year,96773.0,NaN,OZ,"['sql', 't-sql', 'sql server', 'db2', 'azure',...","{'analyst_tools': ['ssis'], 'cloud': ['azure',..."
660004,Data Engineer,Data Engineer Trainee,"Buenos Aires, Argentina",via Ai-Jobs.net,Full-time,False,Argentina,2023-01-16 11:06:34,False,False,Argentina,year,98283.0,NaN,Publicis Groupe,"['python', 'sql', 'gcp', 'bigquery', 'airflow']","{'cloud': ['gcp', 'bigquery'], 'libraries': ['..."
745627,Machine Learning Engineer,"Director of Engineering, ML Platform",Anywhere,via Levels.fyi,Full-time,True,Argentina,2023-12-04 20:13:08,False,False,Argentina,year,222000.0,NaN,MongoDB,"['mongodb', 'mongodb', 'python']","{'databases': ['mongodb'], 'programming': ['mo..."
772403,Data Engineer,Data Engineer,"Buenos Aires, Argentina",via Ai-Jobs.net,Full-time,False,Argentina,2023-01-05 01:48:24,False,False,Argentina,year,147500.0,NaN,Dialpad,"['python', 'java', 'scala', 'gcp', 'aws', 'azu...","{'cloud': ['gcp', 'aws', 'azure', 'bigquery', ..."

In [ ]:
arg_jobs.groupby('job_title_short')[['salary_year_avg']].agg(['median', 'min', 'max', 'count'])

                          salary_year_avg
                                   median       min       max count
job_title_short
Business Analyst                 71100.00   63000.0   79200.0     2
Cloud Engineer                  197500.00  197500.0  197500.0     1
Data Analyst                     92771.75   45000.0  111202.0     4
Data Engineer                    96773.00   50400.0  147500.0    13
Data Scientist                   71000.00   50400.0  207500.0     6
Machine Learning Engineer       101029.00   70000.0  222000.0     3
Senior Data Engineer            147500.00  147500.0  147500.0     2
Software Engineer               174500.00  174500.0  174500.0     1

In [ ]:
arg_jobs.groupby('job_title_short')['salary_year_avg'].agg(['median', 'min', 'max', 'count']).sort_values(by='median', ascending=False)

                              median       min       max  count
job_title_short
Cloud Engineer             197500.00  197500.0  197500.0      1
Software Engineer          174500.00  174500.0  174500.0      1
Senior Data Engineer       147500.00  147500.0  147500.0      2
Machine Learning Engineer  101029.00   70000.0  222000.0      3
Data Engineer               96773.00   50400.0  147500.0     13
Data Analyst                92771.75   45000.0  111202.0      4
Business Analyst            71100.00   63000.0   79200.0      2
Data Scientist              71000.00   50400.0  207500.0      6